<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png"
                        alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart"
                            src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?k=20&m=1206806317&s=170667a&w=0&h=kEh5VLsTHukWc7xf2BvUs8ssqS_d7vkK0-xU3MDpO7s="
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">

        <a href="/our_story">
            <h2>Our Story</h2>
        </a>
        <a href="/adopt">
            <h2>Adopt a doggo</h2>
        </a>
        <a href="/products">
            <h2>Products</h2>
        </a>
    </div>
    <h1 class="adopt">WHEN YOU ADOPT YOU RESCUE A LIFE... AND CHANGE YOUR OWN</h1>
    <div class="adopt_dogs" >
        <img src="https://wallpapers.com/images/high/cute-sad-white-puppy-dog-a9fivppbaru6su26.jpg" alt="" id="white">
        <img src="https://i.pinimg.com/originals/7f/64/3f/7f643f0db514d7971349c416e29e42a8.jpg" alt="" id="black">
    </div>

    <h3 class="adopt">Our mission to rescue, rehabilitate & re-home dogs never ends. We work together with multiple Rescue Centers in Orange County to assist in rescuing dogs from high kill shelters and terrible situations of neglect or abuse. So many dogs we rescue are on the verge of being euthanized at local Southern California city and county shelters. We like to bring in dog trainers and rehab specialists to work with our rescue dogs if they need it - especially those who have suffered injuries or abuse at the hands of previous owners. It’s a great way to build up a dog’s confidence, assimilate him to new owners and get him ready to meet his forever family!</h3>

</body>

</html>