<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog"
                    src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anythin dogs..." id="search">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart" src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?k=20&m=1206806317&s=170667a&w=0&h=kEh5VLsTHukWc7xf2BvUs8ssqS_d7vkK0-xU3MDpO7s=" alt=""></a>
                </div>
            </div>
        </div>
        <div class="navBelow">
            <a href="/our_story">
                <h2>Our Story</h2>
            </a>
            <a href="/adopt">
                <h2>Adopt a doggo</h2>
            </a>
            <a href="/products">
                <h2>Products</h2>
            </a>
        </div>
        <div class="bodyleft">
            <div class="leftbox">
                <img src="https://images1.apartments.com/m2/8RayJm3q2QARPzGPpqQ8Ibm1T_K-xgeg5flU8Ssk76c/H330W495/the-residences-at-pacific-city-huntington-beach-ca-map-image-of-the-property.jpg?p=1" onclick="alert('The address for Pacific City is 21010 Pacific Coast Hwy, Huntington Beach, CA, 92648')" alt="" class="map" >
                <div id="hours">
                    <h1>Store Hours</h1>
                    <p>Sunday: 11:00AM-2:00AM</p>
                    <p>Monday: Closed</p>
                    <p>Tuesday: 11:00AM-2:00AM</p>
                    <p>Wednesday: 11:00AM-2:00AM</p>
                    <p>Thursday: 11:00AM-2:00AM</p>
                    <p>Friday: 11:00AM-2:00AM</p>
                    <p>Saturday: 11:00AM-2:00AM</p>
                </div>
            </div>
            <img src="https://i.pinimg.com/564x/1e/30/68/1e30684dd303ac3e9443f52080436030.jpg" alt="" class="store">
            <div class="vid">
                <h1>V.I.D.</h1>
                <h3>Sign up today to become a Very Import Doggo!</h3>
                <form action="/" method="post">
                    <p>Your Name:</p>
                    <input type="text">
                    <p>Your Doggo's Name:</p>
                    <input type="text">
                    <p>Gender:</p>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>  
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label><br><br>
                    <input type="submit" value="Submit" onclick="alert('Thanks for signing up to be a V.I.D, please check your email for a free coupon!')">
                    
                </form>

                <h4>Get DoggoToggo Emails, Coupons, Events and more!</h4>
                <div id="doggo1" ></div>
            </div>
        </div>
        <div class="bodymid">
            <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/q_75/https://assets.simpleviewinc.com/simpleview/image/upload/crm/surfcityusa/Huntington-Beach-Pacific-City-Drone-Photo-5d15e8695056a36_5d15eac5-5056-a36a-082391f5f0e8c256.jpg" alt="" class="beach">
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>