<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png"
                        alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart"
                            src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?k=20&m=1206806317&s=170667a&w=0&h=kEh5VLsTHukWc7xf2BvUs8ssqS_d7vkK0-xU3MDpO7s="
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">

        <a href="/our_story">
            <h2>Our Story</h2>
        </a>
        <a href="/adopt">
            <h2>Adopt a doggo</h2>
        </a>
        <a href="/products">
            <h2>Products</h2>
        </a>
    </div>
    <div class="middle_container">
        <div id="top">

            <div id="top_left">

            </div>
            <div id="top_right">

            </div>
        </div>
        <div id="bottom">
            <div id="bottom_left">

            </div>
            <div id="bottom_right">

            </div>
        </div>
    </div>

</body>

</html>