.beach{
  height: 1088px;
  width: 1890px;
}

.bodyleft{
  display: flex;
  padding-top: 10px;
}

#cart{
  height: 27px;
  padding-top: 15px;
  padding-right: 25px;
}

#easy{
  font-size: 50px;
}

.endNav{
  display: flex;
  justify-content: center;
}

#hours{
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  height: 340px;
}

#magnify{
  height: 20px;
}

.map{
  height: 400px;
  width: 475px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  margin-right: 10px;
}

.navbar{
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navBelow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 50px;
  width: auto;
  border-bottom: black;
  border-radius: 2px;
  border-style: solid;
  margin-top: 10px;
}
  
#search{
  background-color: lightgray;
  width: 500px;
  border:none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

#searchbar{
  padding-right: 5px;
  padding-top: 10px;
  background-color: lightgray;
  border-radius: 20px;
  border: black 2px solid;
}

.store{
  height: 750px;
  width: 600px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
}

#topbody{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#topDog{
  height: 100px;
}

.vid{
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 800px;
  text-align: center;
  margin-left: 10px;  
}


#doggo1{
  width: 700px;
  height: 350px;
  background: url("/images/happy_dog.jpg") no-repeat;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
#doggo1:hover{
  background: url("/images/red_suit.webp") no-repeat;
  }