<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png" alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="/static/Images/magnifying_glass.png"
                    alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart" src="/static/Images/cart.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">
        
        <a href="/our_story"><h2>Our Story</h2></a>
        <a href="/adopt"><h2>Adopt a doggo</h2></a>
        <a href="/products"><h2>Products</h2></a>
    </div>
    <div id="p_and_c_box">
        <img src="/static/Images/Pauline_and_cookie.jpg" alt="Pauline and Cookie" id="p_and_c">
        <img src="/static/Images/p_and_c2.jpg" alt="Pauline and Cookie"id="p_and_c">
    </div>
    <h1 class="adopt">Our Story</h1>
    <h3 id="story" class="adopt">Our story starts with Pauline and Cookie. We knew the moment we saw Cookie Pauline and her would fall in love with each other. We saved Cookie from a shelter. After that day we knew we had to do what we could to save all the other abandoned and abused dogs out there!!</h3>
</body>
</html>